@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #0DB760;
  --invert: #F3F4F6;
}
html {
  scroll-behavior: smooth;
}

.dark {
  --invert: #171717;
  --background: #0a0a0a;
  --foreground: #ededed;
}
body {
  font-family: Plus Jakarta Sans, Plus Jakarta Sans Fallback;
  background-color: var(--background);
  color: var(--foreground);
  transition-duration: 0.3s;
}
.demo-btn{
    background-color: var(--invert);
    transition-duration: 0.2s;
}
.p-card{
  border: 1px solid var(--invert);
}


.text-highlight{
  color: var(--highlight);
}
.btn-bg{
  background-color: var(--highlight);
  transition-duration: 0.2s;
}
.btn-bg:hover{
  background-color: #04a351;
}
.liquid-glass{
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  isolation: isolate;
  background: #ffffff40;
  inset: 0;
  box-shadow: inset 2px 2px 1px #ffffff80, inset -1px -1px 1px 1px #ffffff80;
}


@media screen and (max-width: 1200px) {
  .flex-1{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
  .position-1{
    position: relative;
    margin-top: 40px;
  }
  .text-1{
    text-align: center;
  }
  .align-1{
    width: fit-content;
    margin: auto;
  }
  .rtop{
    margin-top: 30px;
  }
  .nmt{
    margin-top: 500px;
  }
}

